$primaryFont:  "ff-basic-gothic-web-pro", sans-serif;
$secondaryFont:  "pill-gothic-600mg", sans-serif;
$secondaryFontLight:  "pill-gothic-300mg", sans-serif;


$ccdGlobalBackgroundColor:#ececec;
$ccdBodyColor:#404041;

// BrandingColors

$ccdGlobalGrayColor: #777;
$ccdGlobalLightGrayColor: rgb(212, 212, 212);
$ccdGlobalBlueColor: #4A44F2;
$ccdGlobalBlack: #181818;
$ccdGlobalRed: #f15e5b;
$ccdGlobalLightBlue: #6da8ff;
$ccdGlobalPurple: #ba50c1;
$ccdGlobalYellow: #ffc800;
$ccdGlobalOrange: #f8991d;
$ccdGlobalViolet: #6b00ff;
$ccdGlobalAqua: #58c2bb;
$ccdGlobalDarkAqua:#2b8595;
$ccdGlobalLightViolet: #9487a6;
$ccdGlobalPink: #ef549e;
$ccdGlobalOliva:#cbf281;
$ccdGlobalOlivaLight:#b5e126;
$ccdGlobalGreen: #00C897;
$ccdGlobalOlivaRadio:#98BF1B;

$cardBackground: #fff;
$cardLinkColor: #000;

$cineDarkTitle: #212121;

$cineGray: #2f2f2f;
$cineButton: #6E6E6E;
$ccdFilterButton:#dedcdc;

$transitionHover: all 0.3s ease-out;

$heightHeader: 75px;
$heightHeaderMarginTop:14px;
$headerTop: -175px;